header {
  background-color: #00adb5;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: 'McLaren', cursive;
  font-weight: 300;
  position: relative;
  top: 13px;
}

header .note-icon {
  color: #fff;
  font-family: 'McLaren', cursive;
  font-weight: 300;
  position: relative;
  top: 13px;
  float: left;
  top: 23px;
  font-size: 30px;
}
