* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #393e46;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.round {
  border-radius: 50%;
  border: 2px solid #eeeeee;
  width: 50px;
  height: 50px;
  float: right;
  position: relative;
  bottom: 70px;
}

header {
  background-color: #00adb5;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 300;
  position: relative;
  top: 13px;
}

header .note-icon {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 300;
  position: relative;
  top: 13px;
  float: left;
  top: 23px;
  font-size: 30px;
}

.time {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: x-large;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 25px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #00adb5;
  border: none;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #00adb5;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.loginForm {
  padding: 20px 0;
  position: relative;
  width: 250px;
  margin: 0 auto;
}
form.loginForm input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  width: 100%;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: #393e46;
  font-weight: 300;
}

form.loginForm button {
  appearance: none;
  outline: 0;
  background-color: #00adb5;
  border: 0;
  padding: 10px 15px;
  color: #393e46;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
}

